In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.ml.feature import Normalizer, StandardScaler
import random

import time

kafka_topic_name = "Topic"
kafka_bootstrap_servers = 'localhost:9092'

# spark = SparkSession \
#         .builder \
#         .appName("Structured Streaming ") \
#         .master("local[*]") \
#         .getOrCreate()
spark = SparkSession \
        .builder \
        .appName("Structured Streaming ") \
        .master("local[*]") \
        .config("spark.jars.packages", "org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.1") \
        .getOrCreate()

spark.sparkContext.setLogLevel("ERROR")

# Construct a streaming DataFrame that reads from topic
flower_df = spark \
        .readStream \
        .format("kafka") \
        .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
        .option("subscribe", kafka_topic_name) \
        .option("startingOffsets", "earliest") \
        .load()

flower_df1 = flower_df.selectExpr("CAST(value AS STRING)", "timestamp")


flower_schema_string = "order_id INT,sepal_length DOUBLE,sepal_length DOUBLE,sepal_length DOUBLE,sepal_length DOUBLE,species STRING"



flower_df2 = flower_df1 \
        .select(from_csv(col("value"), flower_schema_string) \
                .alias("flower"), "timestamp")


flower_df3 = flower_df2.select("flower.*", "timestamp")

    
flower_df3.createOrReplaceTempView("flower_find");
song_find_text = spark.sql("SELECT * FROM flower_find")
flower_agg_write_stream = song_find_text \
        .writeStream \
        .trigger(processingTime='5 seconds') \
        .outputMode("append") \
        .option("truncate", "false") \
        .format("memory") \
        .queryName("testedTable") \
        .start()

flower_agg_write_stream.awaitTermination(1)

False

In [3]:
df = spark.sql("SELECT * FROM testedTable")
df.show()

+--------+------------+------------+------------+------------+-----------+--------------------+
|order_id|sepal_length|sepal_length|sepal_length|sepal_length|    species|           timestamp|
+--------+------------+------------+------------+------------+-----------+--------------------+
|       0|         5.1|         3.5|         1.4|         0.2|Iris-setosa|2024-05-13 12:18:...|
|       1|         4.9|         3.0|         1.4|         0.2|Iris-setosa|2024-05-13 12:18:...|
|       2|         4.7|         3.2|         1.3|         0.2|Iris-setosa|2024-05-13 12:18:...|
|       3|         4.6|         3.1|         1.5|         0.2|Iris-setosa|2024-05-13 12:18:...|
|       4|         5.0|         3.6|         1.4|         0.2|Iris-setosa|2024-05-13 12:18:...|
|       5|         5.4|         3.9|         1.7|         0.4|Iris-setosa|2024-05-13 12:18:...|
|       6|         4.6|         3.4|         1.4|         0.3|Iris-setosa|2024-05-13 12:18:...|
|       7|         5.0|         3.4|         1.5|         0.2|Iris-setosa|2024-05-13 12:18:...|
|       8|         4.4|         2.9|         1.4|         0.2|Iris-setosa|2024-05-13 12:18:...|
|       9|         4.9|         3.1|         1.5|         0.1|Iris-setosa|2024-05-13 12:18:...|
|      10|         5.4|         3.7|         1.5|         0.2|Iris-setosa|2024-05-13 12:18:...|
|      11|         4.8|         3.4|         1.6|         0.2|Iris-setosa|2024-05-13 12:18:...|
|      12|         4.8|         3.0|         1.4|         0.1|Iris-setosa|2024-05-13 12:18:...|
|      13|         4.3|         3.0|         1.1|         0.1|Iris-setosa|2024-05-13 12:18:...|
|      14|         5.8|         4.0|         1.2|         0.2|Iris-setosa|2024-05-13 12:18:...|
|      15|         5.7|         4.4|         1.5|         0.4|Iris-setosa|2024-05-13 12:18:...|
|      16|         5.4|         3.9|         1.3|         0.4|Iris-setosa|2024-05-13 12:18:...|
|      17|         5.1|         3.5|         1.4|         0.3|Iris-setosa|2024-05-13 12:18:...|
|      18|         5.7|         3.8|         1.7|         0.3|Iris-setosa|2024-05-13 12:18:...|
|      19|         5.1|         3.8|         1.5|         0.3|Iris-setosa|2024-05-13 12:18:...|
+--------+------------+------------+------------+------------+-----------+--------------------+
only showing top 20 rows

In [7]:
# retriving the encrypted rows and decrypting it
secret_key = 'Thisguyisgonnagetsomeact'
df_encrypted = df_encrypted.withColumn('SSN_decrypted', expr(f"aes_decrypt(unbase64(SSN_encrypted), '{secret_key}', 'ECB')").cast('string'))
df_encrypted.show()

+--------+------------+------------+------------+------------+-----------+--------------------+--------------------+-------------+
|order_id|sepal_length|sepal_length|sepal_length|sepal_length|    species|           timestamp|       SSN_encrypted|SSN_decrypted|
+--------+------------+------------+------------+------------+-----------+--------------------+--------------------+-------------+
|       0|         5.1|         3.5|         1.4|         0.2|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|       1|         4.9|         3.0|         1.4|         0.2|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|       2|         4.7|         3.2|         1.3|         0.2|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|       3|         4.6|         3.1|         1.5|         0.2|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|       4|         5.0|         3.6|         1.4|         0.2|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|       5|         5.4|         3.9|         1.7|         0.4|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|       6|         4.6|         3.4|         1.4|         0.3|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|       7|         5.0|         3.4|         1.5|         0.2|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|       8|         4.4|         2.9|         1.4|         0.2|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|       9|         4.9|         3.1|         1.5|         0.1|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|      10|         5.4|         3.7|         1.5|         0.2|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|      11|         4.8|         3.4|         1.6|         0.2|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|      12|         4.8|         3.0|         1.4|         0.1|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|      13|         4.3|         3.0|         1.1|         0.1|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|      14|         5.8|         4.0|         1.2|         0.2|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|      15|         5.7|         4.4|         1.5|         0.4|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|      16|         5.4|         3.9|         1.3|         0.4|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|      17|         5.1|         3.5|         1.4|         0.3|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|      18|         5.7|         3.8|         1.7|         0.3|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
|      19|         5.1|         3.8|         1.5|         0.3|Iris-setosa|2024-05-13 12:18:...|MiKAg50XuuY+/V0O0...|  Iris-setosa|
+--------+------------+------------+------------+------------+-----------+--------------------+--------------------+-------------+
only showing top 20 rows

In [4]:
df_count = df.count()
df_count

150

In [5]:
df_count = df.count()
df_count

150

In [7]:
from pyspark.sql import  SparkSession
from pyspark.sql.functions import *
from pyspark.ml.feature import Normalizer, StandardScaler
import random
import time

kafka_topic_name2 = "water_portability"
kafka_bootstrap_servers2 = 'localhost:9092'


spark = SparkSession \
    .builder \
    .appName("Structured Streaming") \
    .master("local[*]") \
    .config("spark.jars.packages", "org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.1") \
    .getOrCreate()


spark.sparkContext.setLogLevel("error")

# construct a straming dataframe that reads from the topic

water_df = spark \
            .readStream \
            .format("kafka") \
            .option("kafka.bootstrap.servers", kafka_bootstrap_servers2) \
            .option("subscribe", kafka_topic_name2) \
            .option("startingOffsets", "earliest") \
            .load()

water_df1 = water_df.selectExpr("CAST(value as STRING)", "timestamp")

# water_schema_string = "ph float64, Hardness float64, Solids float64, Chloramines float64, Sulfate float64, Conductivity float64, Organic_carbon float64, Trihalomethanes float64, Turbidity float64, Potability int64"
water_schema_string = "ph DOUBLE, Hardness DOUBLE, Solids DOUBLE, Chloramines DOUBLE, Sulfate DOUBLE, Conductivity DOUBLE, Organic_carbon DOUBLE, Trihalomethanes DOUBLE, Turbidity DOUBLE, Potability INT"

water_df2 = water_df1 \
            .select(from_csv(col("value"), water_schema_string) \
                    .alias("water"), "timestamp")

water_df2.createOrReplaceTempView("Water_find");

song_find_text = spark.sql("SELECT * FROM Water_find")
Water_agg_write_stream = song_find_text \
        .writeStream \
        .trigger(processingTime='5 seconds') \
        .outputMode("append") \
        .option("truncate", "false") \
        .format("memory") \
        .queryName("ChTable") \
        .start()

Water_agg_write_stream.awaitTermination(1)

IllegalArgumentException: Cannot start query with name testedTable as a query with that name is already active in this SparkSession